name: Build Examples

on:
  push:
    branches: [main]
    paths:
      - "**.swift"
      - "**.yml"
  pull_request:
    branches: [main]
  workflow_dispatch:

defaults:
  run:
    working-directory: ./Examples/HummingbirdDemo

jobs:
  linux-examples:
    timeout-minutes: 15
    strategy:
      matrix:
        image: ["swift:5.10", "swift:6.2"]

    container:
      image: ${{ matrix.image }}

    name: Build Examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: swift build
